{# ADJUSTMENT #}
{% macro render_adjustment(adjustment) %}
{% if adjustment.group_code %}
Group Code: {{ adjustment.group_code }}
{% endif %}
{% if adjustment.group_code_description %}
Group Code Description: {{ adjustment.group_code_description }}
{% endif %}
{% if adjustment.reason_code %}
Reason Code: {{ adjustment.reason_code }}
{% endif %}
{% if adjustment.reason_code_description %}
Reason Code Description: {{ adjustment.reason_code_description }}
{% endif %}
{% if adjustment.amount %}
Adjustment Amount: ${{ "%0.2f" | format(adjustment.amount | float) }}
{% endif %}
{% if adjustment.guidance %}
Patient Action: {{ adjustment.guidance.patient_action }}
{% endif %}
{% endmacro %}

{# SERVICE #}
{% macro render_service(service, indent=0, render_adjustments=true) %}
{% if service.service_date %}
Service Date: {{ service.service_date }}
{% else %}
{% if service.service_period_start %}
Service Period Start: {{ service.service_period_start }}
{% endif %}
{% if service.service_period_end %}
Service Period End: {{ service.service_period_end }}
{% endif %}
{% endif %}
{% if service.service_code %}
Service Code: {{ service.service_code }}
{% endif %}
{% if service.service_charge_amount %}
Service Charge Amount: ${{ "%0.2f" | format(service.service_charge_amount | float) }}
{% endif %}
{% if service.service_allowed_amount %}
Service Allowed Amount: ${{ "%0.2f" | format(service.service_allowed_amount | float) }}
{% endif %}
{% if service.service_paid_amount %}
Service Paid Amount: ${{ "%0.2f" | format(service.service_paid_amount | float) }}
{% endif %}
{% if service.service_balance %}
Service Balance: ${{ "%0.2f" | format(service.service_balance | float) }}
{% endif %}
{% if render_adjustments is sameas true %}
{% if service.insurance_adjustments +%}
{{ '-'*25 }}
| Insurance Adjustments |
{{ '-'*25 }}
{% for adjustment in service.insurance_adjustments %}
--- ADJUSTMENT ---------------------
{% filter indent(width=indent+2) +%}
{{ render_adjustment(adjustment) }}
{% endfilter %}
{% endfor %}
{% endif %}
{% if service.insurance_adjustments %}
{% if service.patient_responsibility_adjustments %}
{{ '-'*28 }}
| Patient Responsibilities |
{{ '-'*28 }}
{% for adjustment in service.patient_responsibility_adjustments %}
--- ADJUSTMENT ---------------------
{% filter indent(width=indent+2) +%}
{{ render_adjustment(adjustment) }}
{% endfilter %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% endmacro %}


{# CLAIM 835 #}
{% macro render_835(claim_835, render_services, render_adjustments, indent) %}
{% if claim_835.rendering_provider %}
Rendering Provider: {{ claim_835.rendering_provider.first_name | lower | capitalize }} {{ claim_835.rendering_provider.last_name | lower | capitalize }}
{% endif %}
{% if claim_835.claim_statement_period_start %}
Claim Statement Period Start: {{ claim_835.claim_statement_period_start }}
{% endif %}
{% if claim_835.claim_statement_period_end %}
Claim Statement Period End: {{ claim_835.claim_statement_period_end }}
{% endif %}
{% if claim_835.total_charge_amount %}
Total Claim Charge Amount: ${{ "%0.2f" | format(claim_835.total_charge_amount | float) }}
{% endif %}
{% if claim_835.total_allowed_amount %}
Total Claim Allowed Amount: ${{ "%0.2f" | format(claim_835.total_allowed_amount | float) }}
{% endif %}
{% if claim_835.total_paid_amount %}
Total Claim Paid Amount: ${{ "%0.2f" | format(claim_835.total_paid_amount | float) }}
{% endif %}
{% if claim_835.total_balance %}
Total Claim Balance: ${{ "%0.2f" | format(claim_835.total_balance | float) }}
{% endif %}
{% if claim_835.status %}
{% if claim_835.status.description %}
Claim Status: {{ claim_835.status.description | capitalize }}
{% endif %}
{% if claim_835.status.payer_classification %}
Claim Payer Classification: {{ claim_835.status.payer_classification }}
{% endif %}
{% endif %}
{% if render_services is sameas true %}
{% if claim_835.services %}

Claim Services:
{% filter indent(width=indent+2) +%}
{% for service in claim_835.services %}
======== SERVICE ================================================
{{ render_service(service, 2, render_adjustments) }}
{% endfor %}
{% endfilter %}
{% endif %}
{% endif %}
{% endmacro %}

{# CLAIM #}
{% macro render_claim(claim, render_services, render_adjustments, indent=0) %}
{% if claim.date_of_service %}
{% if not claim.date_of_service.lower() == 'none' %}
Date of Service: {{ claim.date_of_service }}
{% endif %}
{% endif %}
{% if claim.total_due %}
Total Due: ${{ "%0.2f" | format(claim.total_due | float) }}
{% endif %}
{% if claim.total_allowed_amount %}
Total Allowed Amount: ${{ "%0.2f" | format(claim.total_allowed_amount | float) }}
{% endif %}
{% if claim.total_fee %}
Total Fee: ${{ "%0.2f" | format(claim.total_fee | float) }}
{% endif %}
{% if claim.total_paid %}
Total Paid: ${{ "%0.2f" | format(claim.total_paid | float) }}
{% endif %}
{% if claim.total_manual_paid %}
Total Manual Paid: ${{ "%0.2f" | format(claim.total_manual_paid | float) }}
{% endif %}
{% if claim.total_network_discount %}
Total Network Discount: ${{ "%0.2f" | format(claim.total_network_discount | float) }}
{% endif %}
{% if claim.total_insurance %}
Total Insurance: ${{ "%0.2f" | format(claim.total_insurance | float) }}
{% endif %}
{% if claim.edi_mappings %}

{{ '='*31 }}
|| SUPPORTING CLAIM 835 DATA ||
{{ '='*31 }}
{% filter indent(width=indent+2) +%}
{% for claim_835 in claim.edi_mappings %}
 {{ '-'*40 }} START OF CLAIM 835 {{ '-'*40 }}
{{ render_835(claim_835=claim_835, render_services=render_services, render_adjustments=render_adjustments, indent=indent+2) }}
{% if not loop.last %}
{{ '-'*40 }} END OF CLAIM 835 {{ '-'*40 }}
{% endif %}
{% endfor %}
{% endfilter %}
{% endif %}
{% endmacro %}

{# PAYMENT #}
{% macro render_payment(payment) %}
{% if payment.first_outreach_date %}
First Outreach Date: {{ payment.first_outreach_date }}
{% endif %}
{% if payment.old_patient_fee is not none %}
Original Charge Before Payments & Adjustments: ${{ "%0.2f" | format(payment.old_patient_fee | float) }}
{% endif %}
{% if payment.old_patient_network_discount is not none %}
Insurance Network Discount: ${{ "%0.2f" | format(payment.old_patient_network_discount | float) }}
{% endif %}
{% if payment.old_patient_insurance is not none %}
Insurance Paid: ${{ "%0.2f" | format(payment.old_patient_insurance | float) }}
{% endif %}
{% if payment.old_patient_paid is not none %}
Previous Patient Payments: ${{ "%0.2f" | format(payment.old_patient_paid | float) }}
{% endif %}
{% if payment.payment_amount is not none %}
This Payment Amount: ${{ "%0.2f" | format(payment.payment_amount | float) }}
{% endif %}
{% if payment.remaining_amount is not none %}
Current Balance: ${{ "%0.2f" | format(payment.remaining_amount | float) }}
{% endif %}
{% if payment.external_transaction_at %}
Payment Processed On: {{ payment.external_transaction_at | datetime_string_format }}
{% endif %}
{% if payment.payment_status %}
Current Payment Status: {{ payment.payment_status }}
{% endif %}
{% if payment.payment_method %}
Payment Method: {{ payment.payment_method }}
{% endif %}
{% endmacro %}

{# PATIENT #}
{% macro _render_patient(patient, indent=0) %}
{% if patient.last_name and patient.last_name%}
{% filter indent(width=indent)%}
PATIENT INFO:
{% endfilter %}
{% filter indent(width=indent+2) %}
Patient Name: {{ patient.last_name }}, {{ patient.first_name }}
{% endfilter %}
{% endif %}
{% endmacro %}


{# PRACTICE #}
{% macro _render_practice(practice, indent=0) %}
{% if practice.name %}
{% filter indent(width=indent) %}
PRACTICE INFO:
{% endfilter %}
{% filter indent(width=indent+2) %}
Practice Name: {{ practice.name }}
{% endfilter %}
{% endif %}
{% endmacro %}


{# INVOICE #}
{% macro render_invoice(invoice, render_patient, render_practice, render_payments, render_services, render_adjustments, indent=0) %}
|============================================================|
|************************************************************|
|                           INVOICE                          |
|************************************************************|
|============================================================|

{% if invoice.patient %}
{{ _render_patient(invoice.patient, indent=indent+2) }}
{% endif %}
{% if invoice.practice %}
{{ _render_practice(invoice.practice) }}
{% endif %}
{% if invoice.claims %}
{% if invoice.total_fee != None %}
**TOTAL CHARGED BY PROVIDER**: ${{ "%0.2f" | format(invoice.total_fee | float) }} (** AMOUNT CHARGED BY PROVIDER BEFORE INSURANCE ADJUSTMENTS**)
{% endif %}
{% if invoice.total_due != None %}
**TOTAL DUE FROM PATIENT**: ${{ "%0.2f" | format(invoice.total_due | float) }} (** AMOUNT THAT PATIENT OWES **)
{% endif %}
================================================
||                     CLAIMS                 ||
================================================
--------------------CLAIM START------------------
{% for claim in invoice.claims %}
{{ render_claim(claim, render_services, render_adjustments, indent+2) }}
---------------------CLAIM END-------------------
{% endfor %}
{% endif %}
|============================================================|
|************************************************************|
|                      END OF INVOICE                        |
|************************************************************|
|============================================================|
{% endmacro %}
