{% macro render_payment(payment) %}
{% if payment.first_outreach_date %}
First Outreach Date: {{ payment.first_outreach_date }}
{% endif %}
{% if payment.old_patient_fee is not none %}
Original Charge Before Payments & Adjustments: ${{ "%0.2f" | format(payment.old_patient_fee | float) }}
{% endif %}
{% if payment.old_patient_network_discount is not none %}
Insurance Network Discount: ${{ "%0.2f" | format(payment.old_patient_network_discount | float) }}
{% endif %}
{% if payment.old_patient_insurance is not none %}
Insurance Paid: ${{ "%0.2f" | format(payment.old_patient_insurance | float) }}
{% endif %}
{% if payment.old_patient_paid is not none %}
Previous Patient Payments: ${{ "%0.2f" | format(payment.old_patient_paid | float) }}
{% endif %}
{% if payment.payment_amount is not none %}
This Payment Amount: ${{ "%0.2f" | format(payment.payment_amount | float) }}
{% endif %}
{% if payment.remaining_amount is not none %}
Current Balance: ${{ "%0.2f" | format(payment.remaining_amount | float) }}
{% endif %}
{% if payment.external_transaction_at %}
Payment Processed On: {{ payment.external_transaction_at | datetime_string_format }}
{% endif %}
{% if payment.payment_status %}
Current Payment Status: {{ payment.payment_status }}
{% endif %}
{% if payment.payment_method %}
Payment Method: {{ payment.payment_method }}
{% endif %}
{% endmacro %}

